body {
      position: relative; 
  }

 /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  .mytext-h1{
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 1.5px 1.5px 3px white;
}

.mytext-h2{
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 1.5px 1.5px 3px grey;}